@font-face {
  src: url("../fonts/Montserrat.ttf");
  font-family: "Montserrat"; }

@font-face {
  src: url("../fonts/Montserrat-ExtraBold.ttf");
  font-family: "Montserrat-ExtraBold"; }

@font-face {
  src: url("../fonts/Montserrat-Medium.ttf");
  font-family: "Montserrat-Medium"; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px; }

.container {
  width: 1132px;
  margin: 0 auto; }

.colortext {
  color: #FC9B09; }

hr {
  border: 0.5px solid #C7C7C7; }

.header__top {
  width: 50%;
  height: 100px;
  display: flex;
  align-items: center; }

.header__background {
  background: url("../../images/helimain.png") no-repeat center/cover;
  width: 100%;
  height: 840px; }

.header__text {
  margin: 0;
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #37373F; }

.header__text--telephone {
  color: lightgray; }

.header__title {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  padding-top: 286px; }

.header__price {
  background: url("../../images/Rectangle 6.2.png");
  width: 224px;
  height: 96px;
  display: flex;
  margin-top: 29px; }

.header__title, .header__figures, .header__cost {
  margin: 0; }

.header__cost {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF; }

.header__figures {
  margin-top: -10px;
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 53px;
  color: #FFFFFF; }

.header__ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../images/Ellipse 2.png") no-repeat center/cover;
  width: 90px;
  height: 82px; }

.header__ellipse-img {
  width: 32px;
  height: 32px;
  margin-bottom: 10px; }

.header__btn {
  display: block;
  width: 304px;
  border: 3px solid white;
  border-radius: 3px;
  text-decoration: none;
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding: 23px;
  margin-top: 22px; }

.main__line {
  margin-top: 50px; }

.m-0 {
  margin: 0; }

.ml-50 {
  margin-left: 50px; }

.ml-14 {
  margin-left: 14px; }

.ml-18 {
  margin-left: 18px; }

.ml-27 {
  margin-left: 27px; }

.ml-30 {
  margin-left: 30px; }

.mr-30 {
  margin-right: 30px; }

.mt-43 {
  margin-top: 43px; }

.mt-80 {
  margin-top: 80px; }

.pl-20 {
  padding-left: 20px; }

.mt-10 {
  margin-top: 10px; }

.mt-40 {
  margin-top: 40px; }

.pt-10 {
  padding-top: 10px; }

.pt-20 {
  padding-top: 20px; }

.pt-50 {
  padding-top: 50px; }

.pt-70 {
  padding-top: 70px; }

.pb-35 {
  padding-bottom: 35px; }

.booking {
  padding: 22px;
  position: fixed;
  background-color: white;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 100; }

.booking__close {
  position: absolute;
  background-color: black;
  width: 50px;
  height: 50px;
  right: 22px;
  cursor: pointer; }

.overlay {
  background: #000000;
  opacity: 0.5;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  z-index: 99; }

.content__wrap {
  display: flex; }

.content__info, .content__video {
  width: 50%; }

.content__title {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #37373F;
  margin: 0 0 18px; }

.content__text {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #37373F;
  margin: 0 0 21px; }

.content__menu {
  padding: 0; }

.content__item {
  list-style: none;
  display: flex;
  align-items: center; }

.content__icon-text {
  padding-left: 10px;
  padding-top: 5px;
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #37373F; }

.content__icon--rating {
  padding-top: 5px; }

.content__video {
  background: url("../../images/64379962_2432401366817580_2945589636799915800_n.png") no-repeat center/cover;
  height: 374px;
  margin-left: 19px;
  position: relative;
  cursor: pointer; }

.content__videoplay {
  position: absolute;
  right: 41px;
  bottom: 29px; }

.content__youtube {
  display: none; }

.gallery__title {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #37373F; }

.gallery__wrap {
  display: flex; }

.gallery__photo {
  width: 25%;
  border-radius: 4px;
  padding: 5px 0; }

.gallery__img {
  width: 276px;
  height: 175px; }

.gallery__wrap--secondary {
  flex-direction: row-reverse; }

.gallery__link, .gallery__link--invisible {
  display: block;
  margin: 40px auto;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #5286EC;
  cursor: pointer; }

.gallery__arrow, .gallery__arrow--secondary {
  padding-top: 3px; }

.gallery__arrow--secondary {
  transform: rotate(180deg); }

.gallery__invisible {
  display: none; }

.aboutme {
  display: flex; }

.aboutme__photo, .aboutme__promo {
  width: 50%; }

.aboutme__title {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #37373F;
  margin: 37px 0 14px; }

.aboutme__text {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #37373F;
  margin: 0; }

.aboutme__link, .aboutme__link1, .aboutme__link--invisible, .aboutme__link--invisible1 {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #5286EC;
  text-decoration: none; }

.aboutme__heart {
  position: absolute;
  top: 52px;
  left: 412px; }

.aboutme__photo {
  text-align: center;
  position: relative; }

.aboutme__img {
  margin-top: 68px; }

.aboutme__name {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #37373F;
  margin: 23px 0 0; }

.aboutme__profession {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #37373F;
  margin: 7px 0 11px; }

.aboutme__profession-link, .aboutme__profession-close {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #5286EC;
  text-decoration: none; }

.aboutme__invisible, .aboutme__invisible1, .aboutme__photo--invisible {
  display: none; }

.working__table {
  width: 770px;
  border: 1px solid #C7C7C7; }

.working__text {
  padding-left: 30px;
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #37373F;
  margin: 30px 0 20px; }

.working__item--date {
  display: flex;
  align-items: center; }

.working__item--price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #C7C7C7; }

.working__text--bold {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #37373F;
  margin: 10px 0; }

.working__text--normal {
  margin: 20px 0 0; }

.working__text--bottom {
  margin: 0 0 20px; }

.working__btn {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FC9B09;
  border: 2px solid #FC9B09;
  border-radius: 3px;
  text-decoration: none;
  padding: 16px 33px;
  transition: 0.3s; }

.working__btn:hover {
  background-color: #FC9B09;
  color: white; }

.map__card {
  background-color: white;
  position: absolute;
  width: 420px;
  left: 390px;
  top: 20px;
  border: 1px solid #C7C7C7;
  padding: 8px 0; }

.map {
  width: 100%;
  position: relative; }

.map__item {
  display: flex;
  align-items: center; }

.map__wrap--ellipse {
  width: 61px;
  height: 61px;
  position: relative;
  background: url("../../images/Ellipse-orange.png"); }

.map__number {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.map__title {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  color: #37373F; }

.map__text {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  color: #37373F; }

.map__link, .map__link--invisible {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #5286EC;
  text-decoration: none; }

.map__invisible {
  display: none; }

.feedback {
  width: 50%;
  height: 200px; }

.feedback__title {
  margin: 130px 0 50px; }

.feedback__item {
  display: flex;
  align-items: flex-start; }

.feedback__name {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #37373F;
  margin: 10px 0; }

.feedback__profession {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #37373F;
  margin: 0; }

.feedback__profession--light {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #B3B3B3;
  margin: 0; }

.feedback__groupstars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 25px; }

.feedback__wrap {
  padding-left: 20px; }

.feedback__bottom {
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.feedback__link, .feedback__link--close {
  font-family: "Montserrat",Helvetica,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  color: #5286EC;
  text-decoration: none; }

.feedback__invisible {
  display: none; }

.feedback__linkwrap {
  width: 100%;
  display: flex;
  justify-content: flex-end; }
