body {
  box-sizing: border-box;
}
@font-face {
  src: url("../fonts/Montserrat.ttf");
  font-family: "Montserrat";
}
@font-face {
  src: url("../fonts/Montserrat-ExtraBold.ttf");
  font-family: "Montserrat-ExtraBold";
}
@font-face {
  src: url("../fonts/Montserrat-Medium.ttf");
  font-family: "Montserrat-Medium";
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px;
}
.container {
  max-width: 1132px;
  margin: 0 auto;
}
.colortext {
  color: #FC9B09;
}
hr {
  border: 0.5px solid #C7C7C7;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type=number] {
  -moz-appearance:textfield;
}
@media screen and (max-width: 768px){
  .container {
    width: 100%;
    text-align: center;
  }
}
