.booking {
  text-align: center;
  padding: 22px;
  position: fixed;
  width: 615px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: none;
  z-index: 100;
  background: #FFFFFF;
  border-radius: 6px;
}
.booking__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking__close {
  position: absolute;
  background-color: black;
  width: 50px;
  height: 50px;
  right: 22px;
  cursor: pointer;
}
.booking__text {
  text-align: left;
}
.booking__colortext {
  color: red;
}

input:invalid {
  border: 1px solid red;
}